.card{
    margin-top: 5%;
    margin-left:45%;
    border: 2px  solid;
    box-shadow: white 20px 10px 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #6DA5C0;
    width: 400px;
}
.card h3{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    background-color: #0F968C;
    border-bottom: black 2px solid;

}
input{
    margin-bottom: 10px;
    background: transparent !important;
    width: 250px;
}
label{
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 3px;
}
button{
    text-align: center;
    justify-content: center;
    margin-left: 75px;
    margin-top: 5px;
    width: 200px;
}
p{
    text-align: center;
    padding-top: 10px;
}
